.pricing {
    text-align: center;
}

.front {
    width: 75%;
    padding-bottom: 75px;
    padding-top: 50px;
}

p {
  font-family: "Georama", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 h1 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #007e27;
 }

 h5 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #007e27;
  }

 h2 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #007e27;
 }

.card {

}

#buttons {
    background-color: #B3B3B3;
    border-color: #B3B3B3;
    font-family: "Cal Sans", sans-serif;
}
